<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <div class="card">
        <div class="card-body">
            &copy; 2019 Codecool Budapest
        </div>
        <div th:fragment="google_maps" class="col-sm-12">
            <div class="contact-map box">
                <div id="map" class="contact-map">
                    <iframe src="https://maps.google.com/maps?q=Bucharest,%20Semilunei%204-6&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            width="825" height="180" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>    </div>
</div>

</body>
</html>
